**0.0 Imports**

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

**0.1 Data Colletion**

In [2]:
#criando a conexão com o banco
conn = create_engine( 'sqlite:///database_hm.sqlite', echo=False )

In [3]:
query = """
    SELECT * FROM vitrine
"""

df_raw = pd.read_sql_query(query, conn)
df_raw.head()

,product_id,style_id,color_id,product_name,color_name,fit,product_price,cotton,polyester,spandex,scrapy_datetime
0,1024256002,1024256,002,slimjeans,light_denim_blue,slim_fit,19.99,0.99,0.65,0.01,2022-09-14 10:03:28
1,1024256003,1024256,003,slimjeans,light_denim_blue,slim_fit,19.99,0.99,0.65,0.01,2022-09-14 10:03:28
2,1024256004,1024256,004,slimjeans,denim_blue,slim_fit,19.99,0.99,0.65,0.01,2022-09-14 10:03:28
3,1024256005,1024256,005,slimjeans,dark_blue,slim_fit,19.99,0.99,0.65,0.01,2022-09-14 10:03:28
4,1024256006,1024256,006,slimjeans,dark_denim_blue,slim_fit,19.99,1.00,0.00,0.01,2022-09-14 10:03:28

In [4]:
df_raw.to_csv(r'C:\Users\laais\OneDrive\Área de Trabalho\dt_hm.csv')

## Passo 01 - Descrição dos dados

In [10]:
#criando uma copia do df
df01 = df_raw.copy()

- **1.1. Dimensão dos dados**

In [13]:
df01.shape

(112, 11)

In [15]:
print('N° de colunas: {}'.format(df01.shape[0]))
print('N° de linhas: {}'.format(df01.shape[1]))

N° de colunas: 112
N° de linhas: 11

- **1.2 Tipos dos dados**

In [19]:
df01.dtypes

product_id          object
style_id            object
color_id            object
product_name        object
color_name          object
fit                 object
product_price      float64
cotton             float64
polyester          float64
spandex            float64
scrapy_datetime     object
dtype: object

In [20]:
#convertendo para o tipo data
df01['scrapy_datetime'] = pd.to_datetime(df01['scrapy_datetime'])

In [21]:
df01.dtypes

product_id                 object
style_id                   object
color_id                   object
product_name               object
color_name                 object
fit                        object
product_price             float64
cotton                    float64
polyester                 float64
spandex                   float64
scrapy_datetime    datetime64[ns]
dtype: object

- **1.3 Identificação de dados faltantes**

In [23]:
df01.isna().sum()

product_id         0
style_id           0
color_id           0
product_name       0
color_name         0
fit                0
product_price      0
cotton             0
polyester          0
spandex            0
scrapy_datetime    0
dtype: int64

- **1.4 Substituição de dados faltantes**

- **1.5 Descrição dos dados**

In [27]:
#selecionando as colunas de acordo com o tipo númerico
num_atributos = df01.select_dtypes(include=['int64','float64'])
num_atributos

     product_price  cotton  polyester  spandex
0            19.99    0.99       0.65     0.01
1            19.99    0.99       0.65     0.01
2            19.99    0.99       0.65     0.01
3            19.99    0.99       0.65     0.01
4            19.99    1.00       0.00     0.01
..             ...     ...        ...      ...
107          44.99    1.00       0.65     0.00
108          44.99    1.00       0.65     0.00
109          44.99    1.00       0.65     0.00
110          44.99    1.00       0.00     0.00
111          44.99    1.00       0.65     0.00

[112 rows x 4 columns]

In [28]:
#selecionando as colunas diferentes de númerico
cat_atributos = df01.select_dtypes(exclude=['int64','float64'])
cat_atributos

,product_id,style_id,color_id,product_name,color_name,fit,scrapy_datetime
0,1024256002,1024256,002,slimjeans,light_denim_blue,slim_fit,2022-09-14 10:03:28
1,1024256003,1024256,003,slimjeans,light_denim_blue,slim_fit,2022-09-14 10:03:28
2,1024256004,1024256,004,slimjeans,denim_blue,slim_fit,2022-09-14 10:03:28
3,1024256005,1024256,005,slimjeans,dark_blue,slim_fit,2022-09-14 10:03:28
4,1024256006,1024256,006,slimjeans,dark_denim_blue,slim_fit,2022-09-14 10:03:28
...,...,...,...,...,...,...,...
107,0875105018,0875105,018,relaxedjeans,pale_denim_blue,relaxed_fit,2022-09-14 10:03:28
108,0875105023,0875105,023,relaxedjeans,black,relaxed_fit,2022-09-14 10:03:28
109,0875105024,0875105,024,relaxedjeans,light_denim_blue,relaxed_fit,2022-09-14 10:03:28
110,0875105026,0875105,026,relaxedjeans,light_gray,relaxed_fit,2022-09-14 10:03:28
111,0875105029,0875105,029,relaxedjeans,black,relaxed_fit,2022-09-14 10:03:28

- 1.5.1 Dados Númericos

In [56]:
#tendencia central -> média e mediana
t1 = pd.DataFrame(num_atributos.apply(np.mean)).T
t2 = pd.DataFrame(num_atributos.apply(np.median)).T

In [55]:
#Dispersão: desvio padrão, max, mín, range, skew (simetria da distruibuição) e kurtosis (calda longa do dataset)
d1 = pd.DataFrame(num_atributos.apply(np.std)).T
d2 = pd.DataFrame(num_atributos.apply(np.min)).T
d3 = pd.DataFrame(num_atributos.apply(np.max)).T 
#calculo do range, faz a diferença entre o max e o min de cada coluna
d4 = pd.DataFrame(num_atributos.apply( lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_atributos.apply( lambda x: x.skew())).T
d6 = pd.DataFrame(num_atributos.apply( lambda x: x.kurtosis())).T

In [58]:
#concat
m1 = pd.concat([d2,d3,d4,t1,t2,d1,d5,d6]).T.reset_index()
m1

,index,0,0,0,0,0,0,0,0
0,product_price,7.99,49.99,42.00,31.240000,29.99,10.831090,-0.116499,-1.045786
1,cotton,0.77,1.00,0.23,0.963393,0.99,0.071721,-2.050909,2.517285
2,polyester,0.00,1.00,1.00,0.350625,0.21,0.331897,0.166264,-1.605939
3,spandex,0.00,0.02,0.02,0.007768,0.01,0.007405,0.387210,-1.098966

In [60]:
m1.columns = ['attributes','min','max','range','mean','median','std','skew','kurtosis']
m1

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,product_price,7.99,49.99,42.00,31.240000,29.99,10.831090,-0.116499,-1.045786
1,cotton,0.77,1.00,0.23,0.963393,0.99,0.071721,-2.050909,2.517285
2,polyester,0.00,1.00,1.00,0.350625,0.21,0.331897,0.166264,-1.605939
3,spandex,0.00,0.02,0.02,0.007768,0.01,0.007405,0.387210,-1.098966

- 1.5.2 Dados Categóricos